.main-catalog__filter {
  display: flex;
  flex-direction: column;
}

.main-catalog__fieldset {
  border: none;
}

.main-catalog__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  &--milk {
    margin-bottom: 34px;
  }
}

.fieldset__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.main-catalog__input-label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
