.main-catalog {
  display: flex;
  flex-direction: column;
}

.main-catalog__badge {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
  text-align: center;
}

.main-catalog__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.main-catalog__buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.main-catalog__button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;

  &--reset {
    color: #7859cf;
  }
}
