.main-catalog {
  display: flex;
  flex-direction: column;
  background-color: @lightest-grey;
}

.main-catalog__badge {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: @base-primary;
  text-align: center;
}

.main-catalog__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: @base-black;
}

.main-catalog__buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.main-catalog__button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: @base-white;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: @base-primary;
  border: none;

  &--reset {
    color: @base-primary;
    background-color: @base-white;
  }
}

.main-catalog__select--label {
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  line-height: 24px;
  color: @base-black;
}

.main-catalog__select {
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: @base-primary;
}

.main-catalog__list {
  margin: 0 20px;
  margin-top: 16px;
  padding: 0;
}

.main-catalog__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: @base-white;
}

.main-catalog__item img {
  display: block;
  margin: 0 auto;
}

.product-item__text-content {
  text-align: left;
}

.product-item__title {
  margin-top: 24px;
  margin-bottom: 4px;
}

.product-item__description {
  margin: 0;
  margin-bottom: 18px;
}

.product-item__buy {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-item__price {
  color: @base-black;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  line-height: 32px;
}

.product-item__basket-button {
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  padding-left: 44px;
  background-color: @base-primary;
  color: @base-white;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  background-image: url("/img/icons/stack.svg#shop-basket");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position-y: center;
  background-position-x: 20px;
}

.main-catalog__pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px 44px;
  column-gap: 20px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  white-space: nowrap;
  color: @base-primary;
  background-color: @base-white;
  border-radius: 4px;

  &--current {
    font-weight: 600;
    font-size: 16px;
    color: @base-black;
  }
}

// .pagination__link {
// }

.pagination__link--back {
  background-image: url("/img/icons/stack.svg#pagination-left");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 12px;
}

.pagination__link--forward {
  background-image: url("/img/icons/stack.svg#pagination-right");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 12px;
}

/*
.main-catalog__pagination {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.pagination__item {
  min-height: 40px;
  min-width: 40px;
}

.pagination__link {
  padding: 8px;
  color: @base-primary;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 24px;
  border-radius: 4px;
  background-color: #ffffff;

  &--current {
    color: #333333;
    font-weight: 600;
  }
}
*/
